Repository EGRoBBeRTiT/heavy-metal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx,json}": [
        "eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix",
        "prettier --write \"src/**/*.+(js|jsx|ts|tsx|json)\""
    ],
    "src/**/*.{css,scss,less,sass}": [
        "prettier --write \"src/**/*.+(css|scss|less|sass)\"",
        "stylelint 'src/**/*.{css,scss,less,sass}' --fix"
    ]
}

fix(test): test
  src/components/AlbumFullScreenSwiper/SongList/SongList.module.scss
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(return test): return test
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/hooks/useAudioPlayer.ts
  src/types/LocalStorageItem.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(45 kino): added new album KINO 45
  src/shared/albumsWithIds.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

refactor(audio): изменил логику работы плеера
  src/_pages/RootPage/RootPage.module.scss
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/Album/Album.module.scss
  src/components/Album/Album.tsx
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/components/AlbumFullScreenSwiper/SongList/SongList.tsx
  src/components/AudioPlayer/AudioPlayer.module.scss
  src/components/AudioPlayer/AudioPlayer.tsx
  src/components/AudioPlayer/ControlButtons/ControlButtons.tsx
  src/components/AudioPlayer/LoudSlider/LoudSlider.tsx
  src/components/AudioPlayer/TrackInfo/TrackInfo.tsx
  src/components/AudioPlayer/TrackSlider/TrackSlider.tsx
  src/components/AudioPlayer/index.ts
  src/components/Header/Header.module.scss
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/contexts/AudioPlayerProviderContext.ts
  src/hooks/context/useAudioPlayer.ts
  src/hooks/player/useAudioPlayerControl.ts
  src/hooks/player/useAudioPlayerControlOld.ts
  src/hooks/player/useTrackIndexFromLocalStorage.ts
  src/hooks/player/useUpdateSessionMetaData.ts
  src/hooks/useAudioPlayer.ts
  src/hooks/useSetMediaSessionHandlers.ts
  src/hooks/useSpaceListener.tsx
  src/hooks/useWindowDimensions.ts
  src/providers/AudioPlayerProvider/AudioPlayerProvider.module.scss
  src/providers/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/providers/AudioPlayerProvider/index.ts
  src/styles/globals.scss
  src/utils/isAdminOrStaff.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(control button): увеличил кнопки на мобилке
  src/components/AudioPlayer/ControlButtons/ControlButtons.module.scss
  src/components/AudioPlayer/ControlButtons/ControlButtons.tsx
  src/components/PlayPauseIcon/PlayPauseIcon.module.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(test): test audio context
  src/components/AudioPlayer/LoudSlider/LoudSlider.tsx
  src/hooks/player/useAudioPlayerControl.ts
  src/providers/AudioPlayerProvider.tsx
  src/providers/AudioPlayerProvider/AudioPlayerProvider.module.scss
  src/providers/AudioPlayerProvider/index.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(audio): return one audio
  src/components/AudioPlayer/LoudSlider/LoudSlider.tsx
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(audio): убрал стоп
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(audio): fix
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fix): remove setPlaybackState
  src/components/AudioPlayer/AudioPlayer.module.scss
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(test): test proxy
  package-lock.json
  package.json
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fix): return
  package-lock.json
  package.json
Due: none

fix(audiocontext): remove audiocontext
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(register/auth): improve security
  package-lock.json
  package.json
  src/_pages/RootPage/RootPage.module.scss
  src/_pages/RootPage/RootPage.tsx
  src/api/config.ts
  src/api/createUser.ts
  src/api/getAlbums.ts
  src/api/getLoggedProfile.ts
  src/api/getUser.ts
  src/api/register.ts
  src/app/layout.tsx
  src/app/player/page.tsx
  src/components/Header/Header.module.scss
  src/components/Header/Header.tsx
  src/components/LoginForm/LoginForm.module.scss
  src/components/LoginForm/LoginForm.tsx
  src/components/RegisterForm/RegisterForm.module.scss
  src/components/RegisterForm/RegisterForm.tsx
  src/hooks/player/useAudioPlayerControl.ts
  src/routes.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(fix): fix
  src/components/AudioPlayer/ControlButtons/ControlButtons.tsx
  src/components/Header/Header.tsx
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

perf(images): improve images performance
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.module.scss
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/AlbumFullScreenSwiper/ImageSlide/ImageSlide.tsx
  src/components/Header/Header.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(fix): fix audio sets functions
  src/contexts/AudioPlayerViewProvider.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

perf(fullscreen): added virtual scrolls
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/AudioPlayer/AudioPlayer.module.scss
  src/components/Header/Header.module.scss
  src/styles/globals.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

refactor(bd): change bd and deploy place
  src/api/config.ts
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.module.scss
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/LazyImage/LazyImage.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(vercel config): added vercel region
  vercel.json
Due: none

perf(coverflow): improve performance
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/LazyImage/LazyImage.module.scss
  src/components/LazyImage/LazyImage.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(history): added custom history context
  src/_pages/CoverFlowPage/CoverFlowPage.tsx
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/_pages/LoginPage/LoginPage.tsx
  src/app/providers.tsx
  src/components/Header/Header.tsx
  src/contexts/HistoryContext.ts
  src/hooks/context/useHistory.ts
  src/hooks/useEscapeListener.ts
  src/hooks/useGoBack.ts
  src/providers/HistoryProvider.tsx
  src/types/LocalStorageItem.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(history): заменил везде на кастомный replace
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/LoginForm/LoginForm.tsx
  src/components/RegisterForm/RegisterForm.tsx
  src/contexts/HistoryContext.ts
  src/providers/HistoryProvider.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(download): добавил возможностьь скачивания
  src/components/AudioPlayer/AudioPlayer.tsx
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(ac dc jailbreak): added album cover
  public/albums/AC-DC_1984_Jailbreak.jpg
  src/api/getUser.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(track list): added track list
  src/_pages/PlayerPage/PlayerPage.module.scss
  src/_pages/PlayerPage/PlayerPage.tsx
  src/_pages/PlayerPage/index.ts
  src/app/player/page.tsx
  src/components/AudioPlayer/AudioPlayer.module.scss
  src/components/AudioPlayer/AudioPlayer.tsx
  src/components/AudioPlayer/LoudSlider/LoudSlider.module.scss
  src/components/AudioPlayer/LoudSlider/LoudSlider.tsx
  src/components/AudioPlayer/TrackInfo/TrackInfo.module.scss
  src/components/AudioPlayer/TrackInfo/TrackInfo.tsx
  src/components/DownloadButton/DownloadButton.module.scss
  src/components/DownloadButton/DownloadButton.tsx
  src/components/DownloadButton/index.ts
  src/components/ListButton/ListButton.module.scss
  src/components/ListButton/ListButton.tsx
  src/components/ListButton/index.ts
  src/components/TrackList/Track/Track.module.scss
  src/components/TrackList/Track/Track.tsx
  src/components/TrackList/Track/index.ts
  src/components/TrackList/TrackList.tsx
  src/components/TrackList/index.ts
  src/styles/globals.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(track slider): fix track slider
  src/components/AudioPlayer/TrackSlider/TrackSlider.tsx
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(seekto): return seekto
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(player): remove play / pause control
  src/components/AudioPlayer/TrackSlider/TrackSlider.tsx
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(comments): remove comments
  src/components/AudioPlayer/TrackSlider/TrackSlider.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(player): return play / stop control
  src/hooks/player/useAudioPlayerControl.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(player): return updatePositionState
  src/hooks/player/useAudioPlayerControl.ts
  src/hooks/player/useAudioPlayerControlOld.ts
  src/hooks/player/useUpdateSessionMetaData.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(megadeth): added megadeth last album
  public/albums/Megadeth_2022_Sick-Dying-and-Dead.jpeg
  src/types/Albums.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(opengraph): added opengraph
  src/_pages/CoverFlowPage/CoverFlowPage.tsx
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/app/interactive/@coverflow/(.)coverflow/[index]/page.tsx
  src/app/interactive/@coverflow/(.)coverflow/default.tsx
  src/app/interactive/@coverflow/(.)coverflow/loading.tsx
  src/app/interactive/@coverflow/(.)coverflow/page.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/[index]/page.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/default.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/loading.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/page.tsx
  src/app/interactive/coverflow/[index]/page.tsx
  src/app/interactive/coverflow/loading.tsx
  src/app/interactive/coverflow/page.tsx
  src/app/interactive/fullscreen/[index]/page.tsx
  src/app/interactive/fullscreen/loading.tsx
  src/app/interactive/fullscreen/page.tsx
  src/app/interactive/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/player/page.tsx
  src/app/register/page.tsx
  src/app/static/page.tsx
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/routes.ts
  src/types/SearchParams.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(opengraph): fix opengraph image src
  src/app/layout.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(opengraph): added metadataBase
  src/app/layout.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"
