Repository EGRoBBeRTiT/heavy-metal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(google icons): fix google icons
  .stylelintignore
  src/app/globalicons.css
  src/app/ui/Album/Album.module.scss
Due: prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(album): added album dio Holy Diver
  public/albums/Dio_1983_Holy-Diver.png
  src/app/ui/Album/Album.module.scss
  src/shared/albums.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(links): fix linf on apple music
  src/shared/albums.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(modal): fix open modals by button
  src/app/page.tsx
  src/app/ui/Album/Album.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(albunm): обошел preventDefault в album, который мешал открывать модалку с нужным альбомом
  src/app/page.module.scss
  src/app/page.tsx
  src/app/ui/Album/Album.module.scss
  src/app/ui/Album/Album.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

perf(app): added mobile support
  next.config.js
  package-lock.json
  package.json
  public/albums/AC-DC_1976_High-Voltage.png
  src/app/globals.css
  src/app/globals.scss
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/app/ui/Album/Album.module.scss
  src/app/ui/Album/Album.tsx
  src/app/ui/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/app/ui/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/app/ui/AlbumCowerFlowSwiper/index.ts
  src/app/ui/AlbumsCoverFlowModal/AlbumsCoverFlowModal.module.scss
  src/app/ui/AlbumsCoverFlowModal/AlbumsCoverFlowModal.tsx
  src/app/ui/AlbumsCoverFlowModal/AlbumsCoverFlowModalContent.tsx
  src/app/ui/AlbumsFullScreenModal/AlbumsFullScreenModal.tsx
  src/contexts/ScreenConfigProvider.tsx
  src/hooks/useEnterListener.tsx
  src/hooks/useWindowDimensions.ts
  src/hooks/useWindowSize.ts
  src/shared/albums.ts
  src/styles/mixins.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

perf(mobile): optimisation on mobile
  src/app/globals.scss
  src/app/ui/Album/Album.module.scss
  src/app/ui/Album/Album.tsx
  src/app/ui/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/app/ui/AlbumsCoverFlowModal/AlbumsCoverFlowModal.module.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(fullscreen): added fulscreen support
  src/components/AlbumsFullScreenModal/AlbumsFullScreenModal.module.scss
  src/components/AlbumsFullScreenModal/AlbumsFullScreenModal.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

refactor(app): refactor
  src/_pages/CoverFlowPage/CoverFlowPage.module.scss
  src/_pages/CoverFlowPage/CoverFlowPage.tsx
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/_pages/LoadingPage/LoadingPage.module.scss
  src/_pages/LoadingPage/LoadingPage.tsx
  src/_pages/LoadingPage/index.ts
  src/app/interactive/@coverflow/(.)coverflow/[index]/default.tsx
  src/app/interactive/@coverflow/(.)coverflow/[index]/loading.tsx
  src/app/interactive/@coverflow/(.)coverflow/[index]/page.tsx
  src/app/interactive/@coverflow/[...catchAll]/page.tsx
  src/app/interactive/@coverflow/default.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/[index]/default.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/[index]/loading.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/[index]/page.tsx
  src/app/interactive/@fullscreen/[...catchAll]/page.tsx
  src/app/interactive/@fullscreen/default.tsx
  src/app/interactive/coverflow/[index]/loading.tsx
  src/app/interactive/fullscreen/[index]/loading.tsx
  src/app/interactive/layout.tsx
  src/app/interactive/loading.tsx
  src/app/loading.tsx
  src/app/static/loading.tsx
  src/components/Album/Album.module.scss
  src/components/Album/Album.tsx
  src/components/Album/AlbumSkeleton.tsx
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/AlbumFullScreenSwiper/ImageSlide/ImageSlide.module.scss
  src/components/AlbumFullScreenSwiper/ImageSlide/ImageSlide.tsx
  src/components/AlbumFullScreenSwiper/ImageSlide/index.ts
  src/components/AlbumList/AlbumList.module.scss
  src/components/AlbumList/AlbumList.tsx
  src/shared/albums.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

refactor(app): переделал модалки со свайпером и минорные фиксы
  src/_pages/CoverFlowPage/CoverFlowPage.module.scss
  src/_pages/CoverFlowPage/CoverFlowPage.tsx
  src/_pages/RootPage/RootPage.tsx
  src/components/Album/Album.module.scss
  src/components/Album/Album.tsx
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumList/AlbumList.tsx
  src/components/AnimatedAlbumList/AnimatedAlbumList.tsx
  src/shared/albums.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(images): вернул везде Next Image
  src/_pages/StaticPage/StaticPage.tsx
  src/components/Album/Album.tsx
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/MainInfo/MainInfo.tsx
  src/components/AlbumList/AlbumList.module.scss
  src/components/AlbumList/AlbumList.tsx
  src/components/LazyImage/LazyImage.tsx
  src/components/LazyImage/index.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(seo): improve seo and added pwa
  public/logo/logo-1024.png
  public/logo/logo-144.png
  public/logo/logo-180.png
  public/logo/logo-192.png
  public/logo/logo-256.png
  public/logo/logo-384.png
  public/logo/logo-512.png
  public/logo/logo-57.png
  public/logo/logo-72.png
  public/logo/logo-96.png
  public/screenshots/screenshot-narrow.png
  public/screenshots/screenshot-wide.png
  public/sitemap.xml
  src/_pages/CoverFlowPage/CoverFlowPage.module.scss
  src/_pages/FullScreenPage/FullScreenPage.module.scss
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/_pages/InteractivePage/InteractivePage.tsx
  src/_pages/LoadingPage/LoadingPage.module.scss
  src/_pages/RootPage/RootPage.module.scss
  src/app/favicon.ico
  src/app/favicon.svg
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/robots.ts
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.module.scss
  src/components/AnimatedAlbumList/AnimatedAlbumList.module.scss
  src/styles/globals.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(pwa): pwa fixes
  public/logo/logo-1024.png
  public/manifest.json
  src/app/layout.tsx
  src/app/manifest.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(reflect): added support reflect on firefox
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.module.scss
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.module.scss
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/LazyImage/LazyImage.module.scss
  src/components/LazyImage/LazyImage.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

refactor(images): improve on mobile
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/components/Album/Album.module.scss
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(robots): fix sitemap xml
  src/app/robots.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(yandex): added page for yandex
  public/yandex_e4a2ef14d709c2e3.html
Due: none

fix(wordd mistake): fir word mistake
  src/shared/albums.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(album image): исправлена неверная обложка Гуляй, Мужик
  public/albums/Sektor-gaza_1994_Гуляй-Мужик.png
  src/shared/albums.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(audio): added more audio support
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(audio): fix audio control on mobile
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(audio control on mobilr): fix audio control on mobile
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(test): test
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(test): test
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(bug): bug fix
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fix): minor fixes
  src/hooks/useAudioPlayer.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

added anthrax
  public/albums/Anthrax_1987_Among-the-Living.jpg
  src/_pages/CoverFlowPage/CoverFlowPage.tsx
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/_pages/InteractivePage/InteractivePage.tsx
  src/app/interactive/@coverflow/(.)coverflow/[index]/page.tsx
  src/app/interactive/coverflow/[index]/page.tsx
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/AlbumFullScreenSwiper/SongList/SongList.tsx
  src/components/AudioPlayer/TrackSlider/TrackSlider.tsx
  src/contexts/AudioPlayerProvider/AudioPlayerProvider.tsx
  src/hooks/useAudioPlayer.ts
  src/routes.ts
  src/shared/albums.ts
  src/shared/albumsWithIds.ts
  src/types/Albums.types.ts
  src/types/LocalStorageItem.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(build): fix broken build
  src/shared/albumsWithIds.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

Path conditions:
  eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix: any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --write "src/**/*.+(js|jsx|ts|tsx|json)": any of: src/**/*.{js,jsx,ts,tsx,json}
  prettier --write "src/**/*.+(css|scss|less|sass)": any of: src/**/*.{css,scss,less,sass}
  stylelint 'src/**/*.{css,scss,less,sass}' --fix: any of: src/**/*.{css,scss,less,sass}
