Repository EGRoBBeRTiT/heavy-metal: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

.lintstagedrc:

{
    "src/**/*.{js,jsx,ts,tsx,json}": [
        "eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix",
        "prettier --write \"src/**/*.+(js|jsx|ts|tsx|json)\""
    ],
    "src/**/*.{css,scss,less,sass}": [
        "prettier --write \"src/**/*.+(css|scss|less|sass)\"",
        "stylelint 'src/**/*.{css,scss,less,sass}' --fix"
    ]
}

feat(opengraph): added opengraph info
  public/logo/logo-rect-256.png
  src/app/interactive/coverflow/page.tsx
  src/app/interactive/fullscreen/page.tsx
  src/app/interactive/page.tsx
  src/app/layout.tsx
  src/app/login/page.tsx
  src/app/page.tsx
  src/app/player/page.tsx
  src/app/register/page.tsx
  src/app/static/page.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(og image): added opengraph image tsx
  public/manifest.json
  src/api/getAlbumById.ts
  src/app/interactive/coverflow/opengraph-image.tsx
  src/app/interactive/coverflow/page.tsx
  src/app/interactive/fullscreen/opengraph-image.tsx
  src/app/interactive/fullscreen/page.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(og image): fix og image
  src/app/interactive/coverflow/opengraph-image.tsx
  src/app/interactive/coverflow/page.tsx
  src/app/interactive/fullscreen/opengraph-image.tsx
  src/app/interactive/fullscreen/page.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(og image): added add og image url in array
  src/app/interactive/@coverflow/(.)coverflow/page.tsx
  src/app/interactive/@fullscreen/(.)fullscreen/page.tsx
  src/app/interactive/coverflow/page.tsx
  src/app/interactive/fullscreen/page.tsx
  src/utils/generateAlbumMetadata.ts
  src/utils/index.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(og image): change positions srcs
  src/utils/generateAlbumMetadata.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(og images): chnge og images link
  src/utils/generateAlbumMetadata.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fullscreen): remove blur
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fullscreen): fix bugs with fullscreen and hisrtory
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/AudioPlayer/TrackInfo/TrackInfo.tsx
  src/providers/HistoryProvider.tsx
  src/routes.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fullscreen): fix bug on fullscreen
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fullscreen): fix fullscreen again
  src/_pages/FullScreenPage/FullScreenPage.hooks.ts
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/providers/HistoryProvider.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fullscreen): fix test fullscreen
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/contexts/HistoryContext.ts
  src/providers/HistoryProvider.tsx
  src/utils/canGoBack.ts
  src/utils/index.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(raplace): fix replace in history
  src/providers/HistoryProvider.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(fullscreen): remove lazy from swiper in fullscreen
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(blur image): added blur image
  src/_pages/FullScreenPage/FullScreenPage.module.scss
  src/_pages/FullScreenPage/FullScreenPage.tsx
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.module.scss
  src/components/AlbumFullScreenSwiper/AlbumFullScreenSwiper.tsx
  src/components/CustomImage/CustomImage.module.scss
  src/components/CustomImage/CustomImage.tsx
  src/utils/index.ts
  src/utils/isString.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(customimage): fix cover and blur
  src/components/Album/Album.module.scss
  src/components/AlbumCowerFlowSwiper/AlbumCowerFlowSwiper.tsx
  src/components/CustomImage/CustomImage.module.scss
  src/components/CustomImage/CustomImage.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(customimage): fix transition
  src/components/CustomImage/CustomImage.module.scss
Due: prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

fix(custom image & logo): fix in safari
  src/components/CustomImage/CustomImage.tsx
  src/components/Header/Logo/Logo.module.scss
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)", prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

refactor(push router): use useHistory
  src/_pages/RootPage/RootPage.tsx
  src/components/Album/Album.tsx
  src/providers/HistoryProvider.tsx
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

fix(tests): added album covers (metallica and slayer)
  public/albums/Metallica_1984_Ride-the-Lightning.jpeg
  public/albums/Metallica_1986_Master-of-Puppets.jpeg
  public/albums/Slayer_1988_South-of-Heaven.jpeg
Due: none

feat(bands): added new band (Slayer)
  src/types/Albums.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(album): added new album (Megadeth)
  public/albums/Megadeth_1990_Rust-In-Peace.jpeg
Due: none

feat(band): added new band ST
  public/albums/Suicidal-Tendencies_1987_Join-the-Army.jpg
  public/albums/Suicidal-Tendencies_1988_How-Will-I-Laugh-Tomorrow-When-I-Can-t-Even-Smile-Today.jpeg
  public/albums/Suicidal-Tendencies_1990_Lights-Camera-Revolution.jpg
  src/types/Albums.types.ts
Due: eslint . --ext ts,tsx --report-unused-disable-directives --max-warnings 0 --fix, prettier --write "src/**/*.+(js|jsx|ts|tsx|json)"

feat(album): added new album ST
  public/albums/Suicidal-Tendencies_1989-Controlled-By-Hatred.jpg
Due: none

feat(yandex): added page for yandex
  public/yandex_2372e0d40e3269f0.html
Due: none

feat(h & h): change album cover
  public/albums/Black-Sabbath_1980_Heaven-and-Hell.jpeg
Due: none

feat(vol. 4): change album cover
  public/albums/Black-Sabbath_1972_Black-Sabbath-Vol-4.jpeg
  public/albums/Black-Sabbath_1972_Black-Sabbath-Vol-4.png
Due: none

fix(custom image): пофиксил плавное появление
  src/components/CustomImage/CustomImage.module.scss
Due: prettier --write "src/**/*.+(css|scss|less|sass)", stylelint 'src/**/*.{css,scss,less,sass}' --fix

feat(anthrax): change covers
  public/albums/Anthrax_1995_Stomp-442.jpeg
  public/albums/Anthrax_2013_Worship-Music.jpeg
Due: none
